

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('../img/Untitled-1.png');
    background-repeat: no-repeat;
    background-size: cover;
}
p, a{
    font-family: 'Montserrat', sans-serif;
}
h1,h2,h3,h4,h5{
    font-family: 'DFVN Konde';
}
.green{
    color:#789553;
}
.margin-left{
    margin-left: 8px;
}
/* header*/

#headerweb h1{
    font-family: 'DFVN Konde';
}
header ul li{
    display: inline;
    padding: 20px 20px;
}
header a{
    text-decoration: none;
    color:#222814;
}
header a:hover{
    opacity: 0.2;
    transition:1s;
    text-decoration: none;
}
.button{
    background-color: #789553;
    border-radius: 10px;
    padding: 12px 30px;
    color:#FDF4E1;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
/* // */
/* Portfolio */
#Portfolio h1, h2, h3, h4, h5, h6{
    font-family: 'DFVN Konde';
    font-weight: 700;
}
#Portfolio{
    margin: 30px 0;
    height: 100%;
}
#Portfolio img{
    padding: 10px;
}
#All{
    width:90%;
}
#All p{
    color:#FDF4E1;
    font-size: 10px;
}
#All h1, h2, h3, h4, h5, h6{color:#FDF4E1;}
#Portfolio a{
    background-color: #789553;
}
#All a:hover{opacity: 0.2;
    transition:1s;}
/* /Portfolio */
/* Style the tab */
.tab {
    overflow: hidden;
    margin: 20px 0;
}
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    border-radius: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #789553;
    border-radius: 15px;
    color:#FDF4E1;
  }
  
  /* Create an active/current tablink class */
.tabcontent {
    display: none;
    padding: 6px 12px;
  }
.tabcontent img:hover{
    border-radius: 15px;
    transition: 1s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}
  /* /Portfolio */